.canvas__wrapper{
	margin-top: 20px;
	margin-right: 120px;
	display: flex;
	flex-direction: column;
	height: 480px;
}
.canvas__scroll{
	overflow: scroll;
}
.canvas__row{
	display: flex;
	height: 60px;
	justify-content: space-between;
}
.canvas__column{
	width: 120px;
	border: 1px solid #b7b7b7;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065DC;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}
.canvas__column_time{
	overflow: hidden;
	margin-top: -50px;
	border: none;
	pointer-events: none;
}
.canvas__scroll::-webkit-scrollbar{
	width: 0;
}