.container {
    margin: 0 auto;
    width: 70vw;
    max-width: 840px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.header {
    background: #FFF;
}

.header__today {
    width: 135px;
    background: #5C9AE2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
    padding: 7px 12px;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    box-sizing: border-box;
}

.header__date {
    font-size: 16px;
    margin-bottom: 3px;
}

.header__time {
    font-weight: 700;
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img{
    width: 100px;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    width: 135px;
}

.header__user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__user img{
    width: 50px;
}

@media (max-width: 700px){
	.header__today{
        display: none;
    }
}