.scroll__bar{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.weekDayRender__wrapp{
	display: flex;
	justify-content: space-between;
}

.weekBox{
	width: 50px;
	height: 50px;
	background-color: #5C9AE2;
	border-radius: 15px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.weekBox__box{
	width: 10vw;
	max-width: 120px;
	display: flex;
	justify-content: center;
}
.weekBox_current{
	background-color: #0065DC;
}

.btn__scrollBar{
	border: none;
	cursor: pointer;
	background: none;
}

.btn__scrollBar img{
	width: 20px;
}