html{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  background: #F7F7F7;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}
